<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>

<%
  space = encodeURIComponent(' ')
  encode_title = encodeURIComponent(title)
    .replaceAll(space, '-')
%>

<div class="container" style="margin-top:1.5rem">
  <h1 style="margin-bottom: 1rem;"><%=title%></h1>
  <%if(canJoin){%>
    <form action="/join" method="POST" style="display: inline-flex;">
      <input type="hidden" name="title" value="<%=encode_title%>">
      <input type="hidden" name="id" value="<%=id%>">
      <button class="btn btn-primary">Join <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </form>
  <%}%>
  <%if(canEdit){%>
    <a href="/new-task/<%=encode_title%>" class="btn btn-primary">New Task <i class="fa-solid fa-list-check"></i></a>
    <a href="/new-filter/<%=encode_title%>" class="btn btn-dark">New Filter <i class="fa-solid fa-filter"></i></a>
    <a href="/statistics" class="btn btn-secondary">Statistics <i class="fa-solid fa-chart-simple"></i></a>
  <%}%>
  <div class="list-group" style="margin-top: 1rem;">
    <%if(tasks_todo.length != 0){%>
      <%tasks_todo.forEach(task=>{%>
        <a href="/task/<%=encode_title%>/<%=task.id+42%>" class="list-group-item list-group-item-action"><%=task.title%></a>
      <%})%>
    <%}else{%>
      <h1>No Tasks to do</h1>
    <%}%>
  </div>
</div>
<br>
<%-include('../partials/footer.ejs')%>
