<%-include('../partials/header.ejs')%>

<%-include('../partials/navbar.ejs')%>

<div class="container">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 26rem; margin-top: 1rem">
        <div class="card-body">
          <h2 class="card-title">New Filter <i class="fa-solid fa-filter"></i></h2>
          <br>
          <form action="/create-filter" method="POST">
            <input type="hidden" name="group" value="<%=group%>">
            <input type="hidden" name="group_uri" value="<%=group_uri%>">
            <h5>Filter Name</h5>
            <input type="text" name="title" class="form-control" placeholder="Filter Name" value="<%=filterData.title%>">
            <br>
            <h5>Filter Question</h5>
            <textarea class="form-control" placeholder="Question applied to this filter" name="question"><%=filterData.question%></textarea>
            <br>
            <h5>Filter Type:</h5>
            <select id="filter-type" class="form-select" onchange="showSettings()" name="type">
                <%options = ["String", "Bool", "Numeric", "List", "Range"]%>
                <%options.forEach(option=>{%>
                  <%if(option.toLowerCase() == filterData.type){%>
                    <option value="<%=option.toLowerCase()%>" selected><%=option%></option>
                  <%}else{%>
                    <option value="<%=option.toLowerCase()%>"><%=option%></option>
                  <%}%>
                <%})%>
            </select>
            <br>
            <div style="display: none;" id="filter-setting">
                <h6>Settings</h6>
                <input type="text" class="form-control" name="setting" placeholder="Type Here" value="">
                <br>
            </div>
            <button class="btn btn-primary btn-block">
                Create Filter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <h1>
    <%=filter_error%>
  </h1>

  <script>
    function showSettings()
    {
        let type_selection = document.getElementById("filter-type");
        let type_selection_value = type_selection.options[type_selection.selectedIndex].value
        if(type_selection_value == "range" || type_selection_value == "list")
        { 
            document.getElementById("filter-setting").style.display = 'block';
        }
        else
        {
            document.getElementById("filter-setting").style.display = 'none';
        }
    }
  </script>

<%-include('../partials/footer.ejs')%>
