<%-include('../partials/header.ejs')%>

<%-include('../partials/navbar.ejs')%>

<div class="container">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 26rem; margin-top: 3rem">
        <div class="card-body">
          <h2 class="card-title"><i class="fa-solid fa-list-check"></i> New Task</h2>
          <form action="/new-task-create" method="POST">
            <input type="hidden" name="group_id" value="<%=group_id%>">
            <input type="hidden" name="group_title" value="<%=back_uri_title%>">
            <br>
            <input type="text" placeholder="Task Name" name="title" id="" class="form-control form-control-lg">
            <br>
            <%id = 1%>
            <%filters.forEach(filter => {%>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%=filter.id%>" id="flexCheckDefault<%=id%>" name="filters">
                <label class="form-check-label" for="flexCheckDefault<%=id%>">
                  <%=filter.title%>
                </label>
              </div>
              <%id+=1%>
            <%})%>
            <br>
            <button class="btn btn-primary btn-block">
                Create New Task
            </button>
            <br>
            <%if(taskError != ''){%>
            <div class="alert alert-danger" role="alert" style="margin-top: 1rem;">
              <%=taskError%>
            </div>              
            <%}else{%>
            <br>
            <%}%>
            <a href="../group/<%=back_uri_title%>">Back</a>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>

<%-include('../partials/footer.ejs')%>
