<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>

<div class="container col-md-6" style="margin-top:1.5rem;">
  <h1>Groups Founded: <i class="fa-solid fa-user-group"></i></h1>
    <%groups.forEach(group=>{%>
      <%
        space = encodeURIComponent(' ')
        encode_title = encodeURIComponent(group.title)
          .replaceAll(space, '-')
      %>
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <h2 class="card-header">
              <%=group.title%>
            </h2>
            <div class="card-body">
              <a href="group/<%=encode_title%>" class="btn btn-primary">Enter</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    <%})%>
    <%if(groups.length == 0){%>
      <div class="alert alert-danger" role="alert">
        Element Not Found
      </div>      
    <%}%>
  </div>
</div>

<%-include('../partials/footer.ejs')%>
