<%-include('../partials/header.ejs')%>
  <%-include('../partials/navbar-not-logged.ejs')%>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 26rem; margin-top: 3rem">
      <div class="card-body">
        <h2 class="card-title">Sign Up</h2>
        <br>
        <form action="/signup-creation" method="POST">
          <input type="text" placeholder="Name"
          class="form-control" name="name"
          value="<%=newUserData.name%>">
          <br>
          <input type="email" placeholder="Email"
          class="form-control" name="email"
          value="<%=newUserData.email%>">
          <br>
          <input type="password" placeholder="Password"
          class="form-control" name="passwordOne"
          value="<%=newUserData.passwordOne%>">
          <br>
          <input type="password" placeholder="Password Again"
          class="form-control" name="passwordTwo"
          value="<%=newUserData.passwordTwo%>">
          <br>
          <button class="btn btn-primary btn-lg btn-block">
            Sign up
          </button>
          <br><br>
          <a href="/signin">Sign In</a>
        </form>
      </div>
    </div>
  </div>
</div>

<%if(signupError){%>
  <h1><%=signupError%></h1>
<%}%>

<%-include('../partials/footer.ejs')%>